{% extends 'base.html' %}

{% block title %}{{item}}{% endblock %}

{% block extrastyle %}
    <script src="https://js.stripe.com/v3/"></script>
    {% load env_variables %}
{% endblock %}

{%block content%}

<h1>{{item.name}}</h1>
<p>{{item.description}}</p>
<p>{{item.price}}</p>

<button id="buy-button">Buy</button>
<script type="text/javascript">
    var api_key = "{% load_env_variable 'STRIPE_PUBLIC_API_KEY' %}";
    console.log(api_key);
    var stripe = Stripe(api_key);
    var buyButton = document.getElementById('buy-button');
    buyButton.addEventListener('click', function() {
    // Create a new Checkout Session using the server-side endpoint
    // Redirect to Stripe Session Checkout
    fetch('http://127.0.0.1:8000/api/v1/buy/1', {method: 'GET', headers: {
                 "Content-Type": "application/json",
            },})
    .then(response => {
        return response.json()
    }).then(session => {

        if (session.data != null){
            stripe.redirectToCheckout({ sessionId: session.data.id })
        } else {
            alert("Error redirecting");
        }})
    });
</script>
{% endblock %}

