{% extends 'base.html' %}

{% block title %}{{item}}{% endblock %}

{% block extrastyle %}
    <script src="https://js.stripe.com/v3/"></script>
    {% load basic_tags %}
{% endblock %}

{%block content%}
<h1>{{order}}</h1>
{% for item in order_items %}
<h3>{{item.name}}</h3>
<p>{{item.description}}</p>
<p>{{item.price}}</p>
{% endfor%}

<button id="buy-button">Buy</button>
<script type="text/javascript">
    
    var api_key = "{% load_env_variable 'STRIPE_PUBLIC_API_KEY' %}";
    console.log(api_key);
    
    var stripe = Stripe(api_key);
    
    var buyButton = document.getElementById('buy-button');
    buyButton.addEventListener('click', function() {
    
    // Create a new Checkout Session using the server-side endpoint
    // Redirect to Stripe Session Checkout
    fetch("{% url 'checkout-order' order.id %}", {method: 'GET', headers: {"Content-Type": "application/json"}})
    .then(response => {
        console.log(response.json)
        return response.json()
    }).then(session => {

        if (session.data != null){
            stripe.redirectToCheckout({ sessionId: session.data.id })
        } else {
            alert(session.meta);
        }})
    });
</script>
{% endblock %}

